<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.min.js"></script>
        <script src="https://unpkg.com/cytoscape/dist/cytoscape.min.js"></script>
        <script src="https://unpkg.com/layout-base/layout-base.js"></script>
        <script src="https://unpkg.com/cose-base/cose-base.js"></script>
        <script src="https://unpkg.com/cytoscape-fcose/cytoscape-fcose.js"></script>
        <!-- <script src="https://unpkg.com/cytoscape-expand-collapse/cytoscape-expand-collapse.js"></script> -->

        <script type="text/javascript">
            var isBridge = {{ data.bridge }};
            var isSpatial = {{ data.spatial }};
        </script>
        <script src="{{ url_for('static', filename='index.js') }}" type="text/javascript"></script>

        <title>MQTT Network</title>
    </head>

    <body>
        <h2 style="color:white;">MQTT Network Demo</h2>
        <label id="uptodate" style="display:none;color:white;">Graph is up to date!</label>
        <div class="refreshSpinner">
            <label>Fetching graph...</label>
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
        </div>

        <div id="container">
            <div id="cy"></div>
            <div class="console">
                <button id="pause">Pause</button>
                <button id="connect">Connect</button>
                <button id="pub">Pub</button>
                <button id="sub">Sub</button>
                <button id="unsub">Unsub</button>
                <button id="disconnect">Disconnect</button>
            </div>
        </div>

        <div id="modalView" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h3 id="title">title</h3>
                <p id="actions">---</p>
                <div id="ipDiv">
                    <label for="addresses">IP Address:</label>
                    <select name="addresses" id="addresses">
                        <option value="localhost">127.0.0.1</option>
                        <option value="spatial.andrew.cmu.edu">spatial.andrew.cmu.edu</option>
                        <option value="192.168.0.32">192.168.0.32</option>
                        <option value="Edwards-MacBook-Air.local">Edwards-MacBook-Air.local</option>
                    </select>
                </div>
                <div id="clientDiv">
                    <label for="client">Client ID:</label>
                    <input type="text" id="client">
                </div>
                <div id="topicDiv">
                    <label for="topic">Topic Name:</label>
                    <input type="text" id="topic">
                </div>
                <div id="intervalDiv">
                    <label for="interval">Pub Interval (ms):</label>
                    <input type="text" id="interval">
                </div>
                <div id="bpsDiv">
                    <label for="bps">Bytes:</label>
                    <input type="text" id="bps">
                </div>
                <button id="action">Submit</button>
                <textarea id="msg" rows="17" cols="25"></textarea>
            </div>
        </div>
    </body>
</html>
