html,
body {
    font-family: "Lato", sans-serif;
}

#cy {
    height: 95%;
    width: 100%;
    background-color: #111;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

#container {
    overflow: hidden;
}

.console {
    height: 5%;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #222;
    overflow-x: hidden;
    padding: 20px;
}

.console button {
    width: 150px;
    padding: 6px 8px 6px 6px;
    text-decoration: none;
    font-size: 15px;
    color: black;
    text-align: center;
    display: inline-block;
    outline: none;
    border-radius: 5px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 25px;
    padding-left: 575px;
}

.modal-content {
    background-color: #ddd;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 15%;
    height: 85%;
    border-radius: 10px;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#msg {
    white-space: pre;
    overflow-x: auto;
}

@media screen and (max-height: 450px) {
    .console {padding-top: 15px;}
    .console a {font-size: 18px;}
}

input[type=text], select {
    width: 100%;
    padding: 5px 10px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#action {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#action:hover {
    background-color: #45a049;
}

.refreshSpinner {
    height: 50px;
    text-align: center;
    position: fixed;
}

.refreshSpinner label {
    display: block;
    color: white;
}

.refreshSpinner > div {
    background-color: white;
    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.refreshSpinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.refreshSpinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
    20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
        }
    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}
